@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2'),
        url(../fonts/Montserrat-Regular.woff) format('woff');    
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 500;
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2'),
        url(../fonts/Montserrat-Medium.woff) format('woff');
        font-display: swap;
}

/* в настоящее время шрифт не используется на странице, но может потребоваться в перспективе */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Montserrat-Italic.woff2) format('woff2'),
        url(../fonts/Montserrat-Italic.woff) format('woff');
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    width: 1400px;
    background-color: #EFE6E4;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;
    margin: 0 auto;
}

.wrapper-bg-img {
    min-height: 715px; 
    background-image: url(../images/bg-main-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 65px;
}

.container {
    width: 1035px;
    margin: 0 auto;
    margin-bottom: 65px;
}

.header-page {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 36px;
    margin: 0 auto;
    margin-bottom: 85px;
}

.header-logo {
    margin-right: 67px;
}

.navigation {
    width: 840px;
    font-size: 16px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-link {
    color: #533738;
    text-decoration: none;
}

.phone {
    color: #533738;
    text-decoration: none;
}

.container-half {
    width: 535px;
    height: 395px;
    display: flex;
    flex-direction: column;
}

.container-half .text {
    margin: 18px 0 27px;
}

.main-title {
    font-size: 50px;
    line-height: 62px;
    margin: 0;
}


.button {
    width: 309px;
    height: 74px;
    padding: 25px 67px;
    box-sizing: border-box;
    background-color: #CC8B86;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #533738;
}

button .button {
    border: 0;
}

.title {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 40px 0;
}

.text {
    margin: 0;
    padding: 0;
}

.about-us {
    margin-bottom: 21px;
}

.container-about-us {
    display: flex;
    justify-content: space-between;
}

.text-about-us {
    width: 528px;
}

.achievements {
    background-color: #8D7370;
}

.achievements-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    padding: 85px 0 81px 0;
    margin: 0;
    font-size: 50px;
    line-height: 62px;
    color: #ffffff;
    text-transform: uppercase;
}

.achievements-item {
    display: grid;
    gap: 9px;
}

.achievements-caption {
    font-size: 30px;
    line-height: 37px;
    font-weight: 500;
}

.portfolio {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 65px;
    text-align: center;
}


.portfolio .title {
    text-align: left;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0; 
    list-style-type: none;
}

.portfolio-item-bg {
    background-color: rgba(100, 72, 69, 0.8);
    width: 488px;
    height: 451px;
    position: absolute;
}

.portfolio-list li:nth-child(1) {
    background-image: url(../images/interier-1.jpg);
    width: 488px;
    height: 451px;
    background-size: cover;
    background-position: center;
}

.portfolio-item {
    margin-bottom: 21px;
}

.portfolio-item:last-child {
    margin-bottom: 34px;
}

.portfolio-item-title {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    width: 270px;
    margin: auto;
    margin-top: 86px;
}

.portfolio-description {
    width: 416px;
    margin: auto;
    margin-top: 16px;
    color: #FFFFFF;
    text-align: left;
}

.portfolio-link {
    padding-right: 70px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #533738;
    background-image: url(../images/show-more-arrow.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center right;
}

.wrapper-color {
    padding-bottom: 15px;
    background-color: #E2C4BA;
}

.team {
    padding-top: 50px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.team-item {
    width: 320px;
}

.team .container {
    margin-bottom: 35px;
}

.team .text {
    margin: 0;
}

.work-stapes {
    width: 1200px;
}

.work-stapes .title {
    margin-left: 38px;
}

.work-stapes-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.work-stapes-item {
    position: relative;
    width: 285px;
    padding-top: 90px;
}

.work-stapes-item::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: counter(list-item);
    position: absolute;
    top: 0;
    left: 107px;
    background-color: #8D7370;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.reviews {
    margin-top: 65px;
    margin-bottom: 58px;
}

.reviews .title {
    margin-left: 18px;
}

.review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 101px 0;
}

.review::before,
.review::after {
    position: absolute;
    bottom: 46%;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CC8B86;
    border-radius: 50%;
}

.review::before {
    content: url(../images/arrow-left.svg);
    left: 0;
}

.review::after {
    content: url(../images/arrow-right.svg);
    right: 0;    
}

.left-column cite {
    text-transform: uppercase;
    font-style: normal;
}

.left-column p {
    margin-bottom: 30px;
    margin-top: 0;
}

.right-column {
    width: 407px;
}

.review-img:first-child {
    margin-bottom: 16px;
}

.container-color-dark {
    background-color: #8D7370;
}

.container-double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1120px;
    margin-bottom: 30px;
}

.request {
    width: 507px;
    margin-left: 43px;
    margin-right: 20px;
    color: #ffffff;
}

.request .title {
    text-align: left;
    margin: 50px 0 19px 0;
}

.request .text {
    margin-bottom: 44px;
    opacity: 0.6;
}

.form-field {
    width: 100%;
    height: 35px;
    margin-bottom: 32px;
    background: none;
    border: 0;
    border-bottom: 1px solid #ffffff;
    opacity: 0.6;
}

.request-form .button {
    letter-spacing: 1px;
}

input::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;  
    font-size: 18px;
    color: #ffffff;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 0;
}

.container-footer {
    display: flex;
}

.phone-footer {
    margin-right: 42px;
}

.address {
    margin: 0;
}

.copyright {
    margin: 0;
}